@font-face {
  font-family: 'AlimentPERSONALUSE-Thin';
  src: url('/static/fonts/AlimentPERSONALUSE-Thin.eot'); /* IE9 Compat Modes */
  src: url('/static/fonts/AlimentPERSONALUSE-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/AlimentPERSONALUSE-Thin.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/AlimentPERSONALUSE-Thin.woff') format('woff'), /* Pretty Modern Browsers */
       url('/static/fonts/AlimentPERSONALUSE-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/AlimentPERSONALUSE-Thin.svg') format('svg'); /* Legacy iOS */
  }
